<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="background-color: lavender;" >
<h1 style="text-align: center;font-family: Tahoma; color: indigo">Welcome to the Stocks Website</h1>
{%  load static %}
<p style="text-align:center;"><img src="{% static "../static/Stocksimage.jpg" %}" alt="stocks" style="width:304px;height:228px;"></p>

<h3>
<a href="Query_Results.html" style="font-family: Tahoma">Query Results</a><br>
<a href="Add_Transaction.html" style="font-family: Tahoma">Add Transaction</a><br>
<a href="Buy_Stocks.html" style="font-family: Tahoma">Buy Stocks</a>
</h3>
</body>
</html>